<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" cotent="width-device-width, initial-sacale=1.0">
    <style>
        body {
            
            background-color: #fff;
        }

        .tr-head {
            background: #dff0d8;
        }
    </style>
    <link rel="stylesheet" href="..\static\bootstrap4\css\bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #24346c;">
        <a class="navbar-brand" href="#">
            <img src="..\static\img\cinepolis.png" width="30" height="30" class="d-inline-block align-top" alt="">
            CINEPOLIS
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                
                <a class="nav-item nav-link" href="">
                    <i class="icon-home icon-white"></i>
                      INICIO
                </a>
            </div>
        </div>
    </nav>

    <div class="container">

        {%block content%}

        {% endblock %}
    </div>
</body>

</html>